
/* 헤더스타일  */
#header {
  width: 100%;
  height:70px; 
  color: #fff;
  display: flex;
  justify-content: left;
  position: fixed;
  z-index: 10;
  padding-top: 20px;
  background-color: rgba(45, 45, 45, 0.5);
  transition: height 0.5s ease, background-color 0.5s ease; 
  /* background-color: rgba(105, 105, 105, 0.5); */
}

#header:hover {
  height: 240px; /* 호버 시 헤더 높이 확장 */
  background-color: rgba(0, 0, 0, 0.9);
}
#header:hover > .header_menu_navbar > .nav_item {
  height: 220px;
}
/* .header_title, .header_menu_navbar, .header_item_menu {
  padding: 10px;
} */

/* .header_title {
  width: 20%;
  height: 190px;
  margin: 10px 0 0 ;
  font-size: 30px;
  display: flex;
} */
.header_title {
  position: relative;
  left: 20px;
  font-weight: bold;
  font-size: 24px;
  color: #fff;
}
.header_title:hover{
  color: #bbb;
  transition: color 0.3s ease;
  /* font-size: 35px; */
}

.header_menu_navbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 1002;
  /* width: 60%; */
  /* align-self: center; */
  justify-content: space-evenly;
  /* margin-top: 10px; */
}

.header_item_menu {
  width: 20%;
  height: 190px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.header_item_menu a {
  margin-right: 50px;
}

.header_item_menu:hover {
  font-size: 17px;
}

/* 드롭다운 메뉴 숨기기 */
.nav_item {
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 170px;
  height: 32px;
  /* height: 220px; */
  display: flex;
  overflow: hidden;
  flex-direction: column;
  box-sizing: border-box;
  transition: height 0.5s ease; 
}

.nav_item a:hover {
  /* font-size: 15px; */
  cursor: pointer;
}
/* .nav_item:hover li {
  display: block;
} */
/* .nav_item li {
  transition: opacity 0.3s ease-in-out; 
  margin-top: 5px;
  padding: 10px;
  z-index: 1003;
  left: 50%;
  border: 1px solid #ccc;
}  */

.nav_item > li {
  position: relative;
  left: 50%;
  padding: 5px 0;
  transform: translateX(-50%);
  z-index: 1003;
  white-space: nowrap;
  width: 100%;
  /* top: 12%; */
  /* left: 70%; */
}

/* .nav_item li:nth-child(2) {
  top: 50px;
}
.nav_item li:nth-child(3) {
  top: 75px;
}
.nav_item li:nth-child(4) {
  top: 105px;
}
.nav_item li:nth-child(5) {
  top: 135px;
} */
.nav_item > a {
  margin-bottom: 6px;
  line-height: 2;
}
/* 드롭다운 메뉴 활성화 */
.nav_item:hover > li {
  display: block;
}

/* 드롭다운 메뉴 스타일 */
.nav_item > li > a {
  /* padding: 0 5px; */
  color: #bbb;
  /* margin: 0; */
  /* transition: background-color 0.8s ease; */
}

.nav_item > li > a:hover {
  color: #fff;
}

/* 반응형 스타일 */

@media (max-width: 600px) {
  #header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  /* .header_title{
    position: relative;
    width: 100%;
    height: 80px;
    border: 1px solid #77c1fd;
  } */
  .header_title a {
    left: 38%;
    position: absolute;
    /* border: 1px solid #e91c1c; */
  }
  #header:hover {
    height: 350px; /* 호버 시 헤더 높이 확장 */
  }
  
  .header_menu_navbar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* top: 12px; */
    /* width: 50%; */
    /* border: 1px solid #ccc; */
  }
  .header_menu_navbar:hover {
    margin-top: 0;  
  }
  .nav_item {
    width: 150px;
    margin: 10 30px;
    padding: 0; /* 꼭 줘야 반응형에서 사이즈 변화가 없다 */
    position: relative; /* ul의 위치 고정 */
    text-align: center;
    z-index: 1;
    /* border: 1px solid #fdfb79; */
  }
  .nav_item ul {/* 추가 */
    position: absolute;
    z-index: 10;
    top: 100%;
    padding: 0;
  }
  .nav_item li {
    position:relative;
    margin-top:-20px;
    padding: 0;
    height: auto;
    display: none;
    z-index: 1003;
    /* border: 1px solid #79fd9a; */
  }

  .nav_item:hover li {
    display: block; /* 호버 시 모두 표시 */
    position: relative;
    transform: translateX(15px);
    z-index: 100;
  }
  .nav_item:hover li,
  .nav_item ul:hover {
  display: block; /* 메뉴가 사라지지 않도록 유지 */
}
  /* .nav_item li:nth-child(3):hover {
    transform: translateX(10px);
  } */
  .nav_item li a {
    box-sizing: border-box;
    /* left: 300px; */
    color: #ebeaea;
    margin: 0;
    padding: 0;
    /* transition: background-color 0.8s ease; */
  }

  .nav_item li a:hover {
    color: #fff;
    padding: 0;
  }

  .header_item_menu a {
    margin-top: 20px; 
transform: translateX(30px);
    text-align: center;
    /* border: 1px solid #ff9dd9; */

  }
}