
/* .Room-Top{
    padding-top: 200px;
    margin: 0 200px;
} */

/* .room-total{
    background-color: rgba(255, 255, 255, 0.11);
    margin-bottom: 210px;
} */
.RoomDetail_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%; 
}
.RoomDetail_container .RoomDetail_list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 100px 40px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.4);
}
.RoomDetail_container .RoomDetail_list .title {
    text-align: center;
    color: #ececec;
} 
.RoomDetail_container .RoomDetail_list .title h1 {
    font-size: 48px;
    font-weight: bold;
    display: inline-block;
    padding: 0 20px 8px;
    border-bottom: 1px solid #fff;
}
.RoomDetail_container .RoomDetail_list .room-info {
    position: relative;
    margin-top: 38px;
}
.RoomDetail_container .RoomDetail_list .room-description h2{
    font-weight: lighter;
    width: 350px;
    color: white;
    padding-top: 30px;
    margin: auto;
}
.RoomDetail_container .RoomDetail_list .room-summary {
    display: flex;
    width: 100%;
    margin: 30px auto 0;
    padding: 50px 40px;
    border-top: 1px solid rgb(223, 221, 202);
    font-family: 'Arial', sans-serif;
}
.RoomDetail_container .RoomDetail_list .room-summary h2 {
    width: 240px;
    height: auto;
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
}

.RoomDetail_container .RoomDetail_list .room-summary-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 두 줄 배치 */
    gap: 15px; /* 항목 간격 */
    font-size: 1.1rem;
    color: white;
}
.RoomDetail_container .RoomDetail_list .room-summary-grid div {
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: 1,3rem;
}
.RoomDetail_container .RoomDetail_list .room-summary-grid strong {
    width: auto;
    margin-right: 10px;
    padding: 4px 10px;
    font-size: 18px;
    font-weight: bold;
    color: #554c13;
    background-color: #ebdf90;
}

.RoomDetail_container .RoomDetail_list .room-special {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 50px 40px;
    border-top: 1px solid rgb(223, 221, 202);
    font-family: 'Arial', sans-serif;
}
.RoomDetail_container .RoomDetail_list .room-special .room-summary-grid {
    grid-template-columns: repeat(1, 1fr); /* 두 줄 배치 */
}
.RoomDetail_container .RoomDetail_list .room-special h2 {
    width: 240px;
    height: auto;
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
}
.RoomDetail_container .RoomDetail_list .room-special ul{
    padding: 0;
    margin: 0;
}
.RoomDetail_container .RoomDetail_list .room-special li{
    list-style-type: none;
    line-height: 2;
}

.RoomDetail_container .RoomDetail_list .room-amenity {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 50px 40px;
    border-top: 1px solid rgb(223, 221, 202);
    font-family: 'Arial', sans-serif;
}
.RoomDetail_container .RoomDetail_list .room-amenity h2 {
    width: 240px;
    height: auto;
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
}
.RoomDetail_container .RoomDetail_list .room-amenity .amenity-item {
    display: inline-block;
    padding: 10px 15px;
    text-align: center;
    margin: 0;
    font-weight: bold;
    color: white;
    border: 1px solid rgb(223, 221, 202);
}

.RoomDetail_container .RoomDetail_list .room-extra {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 50px 40px;
    border-top: 1px solid rgb(223, 221, 202);
    font-family: 'Arial', sans-serif;
}
.RoomDetail_container .RoomDetail_list .room-extra h2 {
    width: 240px;
    height: auto;
    font-size: 1.8rem;
    margin-bottom: 20px;
    color:white;
    font-weight: bold;
}
.RoomDetail_container .RoomDetail_list .room-extra .room-summary-grid {
    grid-template-columns: repeat(1, 1fr); /* 두 줄 배치 */
}
.RoomDetail_container .RoomDetail_list .room-extra ul{
    padding: 0;
    margin: 0;
}
.RoomDetail_container .RoomDetail_list .room-extra li{
    list-style-type: none;
    line-height: 2;
}

.RoomDetail_container .RoomDetail_list .room-telecom {
    background-color: #ededed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
    border-top: 1px solid rgb(223, 221, 202);
    font-family: 'Arial', sans-serif;
}
.RoomDetail_container .RoomDetail_list .room-telecom h2 {
    height: auto;
    margin-right: 40px;
    font-size: 1.6rem;
    color: rgb(37, 37, 37);
    font-weight: bold;
}
.RoomDetail_container .RoomDetail_list .room-telecom .room-summary-grid div:first-child {
    margin-right: 14px;
}
.RoomDetail_container .RoomDetail_list .room-telecom .teleNumber{
    color: black;
}

.RoomDetail_container .RoomDetail_list .reservation{
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px 30px;
    margin-top: 30px;
    display: block;
    /* height: 70px; */
    justify-content: space-between;
    align-items: center;
    background-color: #EF9E39; 
    display: flex;
}

.RoomDetail_container .RoomDetail_list .reservation div{
    /* margin: 15px 20px; */
    font-size: 1.6rem;
    /* position:absolute; */
}
.RoomDetail_container .RoomDetail_list .reservation .reserve-button {
    background-color: #ffffff; /* 버튼 배경색 */
    color: #f07624; /* 버튼 텍스트 색 */
    padding: 15px 45px; /* 버튼 크기 */
    font-size: 16px; /* 텍스트 크기 */
    text-decoration: none; /* 링크 기본 스타일 제거 */
    transition: background-color 0.3s ease, color 0.3s ease; /* 배경색 변화 애니메이션 */
    border: 1px solid #fff;
    box-sizing: border-box;
}
.RoomDetail_container .RoomDetail_list .reservation .reserve-button:hover {
    background-color: rgba(189, 123, 23);
    color: #fff;
    border: 1px solid #fff;
    box-sizing: border-box;
}
  
  

/* 반응형 */
@media screen and (max-width: 768px) {
    .room-summary-grid {
        grid-template-columns: 1fr; /* 한 줄로 변경 */
    }
}
